DataSetService/MyDescription.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions 
	targetNamespace="http://example.org/dataset-service" 
	xmlns:s0="http://example.org/dataset-service" 
	xmlns:i0="http://example.org/dataset" 
	xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:s="http://www.w3.org/2001/XMLSchema" 
	xmlns="http://schemas.xmlsoap.org/wsdl/"
>
  <types>
	<xs:schema 
		targetNamespace="http://example.org/dataset" 
		elementFormDefault="qualified" 
		xmlns:xs="http://www.w3.org/2001/XMLSchema"
	>

	  <!-- manually inserted -->
  	  <s:complexType name="AuthorType">
		<s:sequence>
			<s:element	name="au_id" type="s:string" />
			<s:element	name="au_lname"	type="s:string" />
			<s:element	name="au_fname"	type="s:string" />
			<s:element	name="phone" type="s:string" />
			<s:element	name="address" type="s:string"	minOccurs="0" />
			<s:element	name="city"	type="s:string" minOccurs="0" />
			<s:element	name="state" type="s:string" minOccurs="0"	/>
			<s:element	name="zip" type="s:string"	minOccurs="0" />
			<s:element	name="contract"	type="s:boolean" />
		</s:sequence>
	  </s:complexType>

	  <s:complexType name="AuthorSetType">
		<s:sequence>
			<s:element name="authors" type="i0:AuthorType" maxOccurs="unbounded"/>
		</s:sequence>
	  </s:complexType>

	  <s:element name="AuthorSet" type="i0:AuthorSetType"/>
<!--	
		<xs:element name="AuthorSet">
			<xs:complexType>
				<xs:sequence>
					<xs:element name="authors" maxOccurs="unbounded">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="au_id" type="xs:string" />
								<xs:element name="au_lname" type="xs:string" />
								<xs:element name="au_fname" type="xs:string" />
								<xs:element name="phone" type="xs:string" />
								<xs:element minOccurs="0" name="address" type="xs:string" />
								<xs:element minOccurs="0" name="city" type="xs:string" />
								<xs:element minOccurs="0" name="state" type="xs:string" />
								<xs:element minOccurs="0" name="zip" type="xs:string" />
								<xs:element name="contract" type="xs:boolean" />
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
		</xs:element>
-->
	</xs:schema>  
    <s:schema 
		targetNamespace="http://example.org/dataset-service"
		elementFormDefault="qualified" 
	>
      <s:import namespace="http://example.org/dataset" />
      <!--
      <s:element name="GetAuthorsAsTypedDataSet">
        <s:complexType />
      </s:element>
      <s:element name="GetAuthorsAsTypedDataSetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAuthorsAsTypedDataSetResult">
              <s:complexType>
                <s:sequence>
                  <s:any namespace="http://example.org/dataset" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      -->
      <s:element name="GetAuthorsAsXml">
        <s:complexType />
      </s:element>
      <s:element name="GetAuthorsAsXmlResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAuthorsAsXmlResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="i0:AuthorSet" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </types>
  <!--
  <message name="GetAuthorsAsTypedDataSetSoapIn">
    <part name="parameters" element="s0:GetAuthorsAsTypedDataSet" />
  </message>
  <message name="GetAuthorsAsTypedDataSetSoapOut">
    <part name="parameters" element="s0:GetAuthorsAsTypedDataSetResponse" />
  </message>
  -->
  <message name="GetAuthorsAsXmlSoapIn">
    <part name="parameters" element="s0:GetAuthorsAsXml" />
  </message>
  <message name="GetAuthorsAsXmlSoapOut">
    <part name="parameters" element="s0:GetAuthorsAsXmlResponse" />
  </message>
  <portType name="DataSetServiceSoap">
  <!--
    <operation name="GetAuthorsAsTypedDataSet">
      <input message="s0:GetAuthorsAsTypedDataSetSoapIn" />
      <output message="s0:GetAuthorsAsTypedDataSetSoapOut" />
    </operation>
    -->
    <operation name="GetAuthorsAsXml">
      <input message="s0:GetAuthorsAsXmlSoapIn" />
      <output message="s0:GetAuthorsAsXmlSoapOut" />
    </operation>
  </portType>
  <binding name="DataSetServiceSoap" type="s0:DataSetServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <!--
    <operation name="GetAuthorsAsTypedDataSet">
      <soap:operation soapAction="http://example.org/dataset-service/GetAuthorsAsTypedDataSet" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    -->
    <operation name="GetAuthorsAsXml">
      <soap:operation soapAction="http://example.org/dataset-service/GetAuthorsAsXml" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="DataSetService">
    <port name="DataSetServiceSoap" binding="s0:DataSetServiceSoap">
      <soap:address location="http://localhost/DataSetService/DataSetService.asmx" />
    </port>
  </service>
</definitions>